<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Admin-View Patient</title>
        <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Icon.png' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.css"/>
 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.js"></script>
    </head>

    <body>

        <header class="row">
            <a href="{% url 'welcome' %}">
                <img src="{% static 'Images/Logo.png' %}" alt="">
            </a>
            <div></div>
            <div></div>
            <div class="dateTime">
                <div class="time"></div>
                <div class="date"></div>
            </div>
        </header>

        <div class="wrapper">
            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'admin_dashboard' %}"><i class="uil uil-create-dashboard"></i>
                            Dashboard</a></a></li>
                    <li><a href="{% url 'admin_add_doctor' %}"><i class="uil uil-user-plus"></i></i>Add Doctors</a></li>
                    <li><a href="{% url 'admin_view_doctor' %}"><i class="uil uil-user-md"></i></i>View Doctors</a></li>
                    <li><a href="{% url 'admin_view_patient' %}"><i class="uil uil-user"></i></i>View
                            Patients</a></li>
                    <li class="is-active"><a href="{% url 'admin_view_feedback' %}"><i class="uil uil-feedback"></i>View Feedbacks</a>
                    </li>
                    <li><a href="{% url 'admin_view_prediction' %}"><i class="uil uil-medkit"></i>Prediction Results</a>
                    </li>
                    <li><a href="{% url 'logout_user' %}"><i class="uil uil-signout"></i>Logout</a></li>
                </ul>
            </div>
            <div class="historyContainer">
                <h1>
                    View Feedbacks
                </h1>
                <div class="table-responsive">
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>username</th>
                                <th>messages</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in feedbacks%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.user.username}}</td>
                                <td>{{i.messages}}</td>
                                <td>
                                    <a href="{% url 'delete_feedback' i.id %}" ><i class="uil uil-trash-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#myTable').DataTable( {
                    responsive: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ]
                } );
            } );
        </script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/mainjs.js' %}"></script>

    </body>

</html>