<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Doctor Update Profile</title>
        <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Icon.png' %}">
    </head>

    <body>

        <header class="row">
            <a href="{% url 'welcome' %}">
                <img src="{% static 'Images/Logo.png' %}" alt="">
            </a>
            <div></div>
            <div></div>
            <div class="dateTime">
                <div class="time"></div>
                <div class="date"></div>
            </div>
        </header>

        <div class="wrapper">
            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'doctor_dashboard' %}"><i class="uil uil-create-dashboard"></i>
                            Dashboard</a></a></li>
                    <li class="is-active"><a href="{% url 'doctor_profile' %}"><i class="uil uil-user"></i>Profile</a>
                    </li>
                    <li><a href="{% url 'doctor_view_prediction_result' %}"><i class="uil uil-medkit"></i>Prediction
                            Results</a></li>
                    <li><a href="{% url 'doctor_settings' %}"><i class="uil uil-setting"></i>Setting</a></li>
                    <li><a href="{% url 'logout_user' %}"><i class="uil uil-signout"></i>Logout</a></li>
                </ul>
            </div>
            {% ifequal message "create" %}
            <script>
                alert('Profile Updated Successfully');
                window.location="{% url 'doctor_profile' %}";
            </script>
            {% endifequal %}
            <div class="profileContainer">
                <h1>
                    My Details
                </h1>
                <form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>First Name:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.user.first_name}}" name="firstName" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Last Name:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.user.last_name}}" name="lastName" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Image:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="file" placeholder="Upload your photo" name="image">
                            <img src="{{userr.image.url}}" width="200" height="150">
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Email Address:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" placeholder="MM/DD/YYYY" value="{{userr.user.email}}" name="email" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Date Of Birth:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.dob}}" name="dob" readonly="readonly" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Contact Number:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.contact}}" name="contact" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Address:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.address}}" name="address" required>
                        </div>
                    </div>
                    <div class="card-profile">
                        <div class="col-md-3">
                            <h5>Category:</h5>
                        </div>
                        <div class="col-md-9 text-secondary">
                            <input type="text" value="{{userr.category}}" name="type" required>
                        </div>
                    </div>
                    <div class="buttonUpdate">
                        <input type="submit" value="Confirm">
                    </div>
                </form>

            </div>
        </div>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/mainjs.js' %}"></script>
    </body>

</html>