<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Patient Prediction History</title>
    </head>

    <body>

        <header class="row">
            <a href="{% url 'welcome' %}">
                <img src="{% static 'Images/Logo.png' %}" alt="">
            </a>
            <div></div>
            <div></div>
            <div class="dateTime">
                <div class="time"></div>
                <div class="date"></div>
            </div>
        </header>

        <div class="wrapper">
            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'patient_dashboard' %}"><i class="uil uil-create-dashboard"></i>
                            Dashboard</a></a></li>
                    <li><a href="{% url 'patient_profile' %}"><i class="uil uil-user"></i>Profile</a>
                    </li>
                    <li><a href="{% url 'patient_feedback' %}"><i class="uil uil-feedback"></i>Feedback</a></li>
                    <li class="is-active"><a href="{% url 'patient_prediction_history' %}"><i class="uil uil-history"></i>History</a></li>
                    <li><a href="{% url 'patient_health_prediction' %}"><i
                                class="uil uil-medkit"></i>Health
                            Prediction</a></li>
                    <li><a href="{% url 'patient_settings' %}"><i class="uil uil-setting"></i>Setting</a></li>
                    <li><a href="{% url 'welcome' %}"><i class="uil uil-signout"></i>Logout</a></li>
                </ul>
            </div>
            <div class="historyContainer">
                <h1>
                    View History
                </h1>
                <div class="buttons">
                    <a href="#"><input type="submit" value="Copy"></a>
                    <a href="#"><input type="submit" value="Excel"></a>
                    <a href="#"><input type="submit" value="CSV"></a>
                    <a href="#"><input type="submit" value="PDF"></a>
                </div>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Accuracy</th>
                        <th>Result</th>
                        <th>Entered Value</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>11/08/2022</td>
                        <td>100%</td>
                        <td>Unhealthy</td>
                        <td>Headache, joint pain</td>
                        <td><i class="uil uil-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>12/08/2022</td>
                        <td>100%</td>
                        <td>Unhealthy</td>
                        <td>Headache, joint pain</td>
                        <td><i class="uil uil-trash-alt"></i></td>
                    </tr>
                </table>
            </div>
        </div>

        <script src="{% static 'js/mainjs.js' %}"></script>

    </body>

</html>