<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Patient Feedback</title>
        <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Icon.png' %}">
    </head>

    <body>

        <header class="row">
            <a href="{% url 'welcome' %}">
                <img src="{% static 'Images/Logo.png' %}" alt="">
            </a>
            <div></div>
            <div></div>
            <div class="dateTime">
                <div class="time"></div>
                <div class="date"></div>
            </div>
        </header>

        <div class="wrapper">
            <div class="menu-toggle">
                <div class="hamburger">
                    <span></span>
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'patient_dashboard' %}"><i class="uil uil-create-dashboard"></i>
                            Dashboard</a></a></li>
                    <li><a href="{% url 'patient_profile' %}"><i class="uil uil-user"></i>Profile</a>
                    </li>
                    <li class="is-active"><a href="{% url 'patient_feedback' %}"><i class="uil uil-feedback"></i>Feedback</a></li>
                    <li><a href="{% url 'patient_prediction_history' %}"><i class="uil uil-history"></i>History</a></li>
                    <li><a href="{% url 'patient_health_prediction' %}"><i class="uil uil-medkit"></i>Health
                            Prediction</a></li>
                    <li><a href="{% url 'patient_settings' %}"><i class="uil uil-setting"></i>Setting</a></li>
                    <li><a href="{% url 'logout_user' %}"><i class="uil uil-signout"></i>Logout</a></li>
                </ul>
            </div>
            {% ifequal message "create" %}
            <script>
                alert('Feedback Sent Successfully');
                window.location="{% url 'patient_dashboard' %}";
            </script>
            {% endifequal %}
            <div class="feedbackContainer">
                <h1>
                    Send Feedback
                </h1>
                <form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="card-details">
                        <div class="card-box">
                            <span class="details">Username</span>
                            <input type="text" value="{{userr.user.username}}" name="username" disabled>
                        </div>
                        <div class="card-box">
                            <span class="details">Write a message</span>
                            <textarea class="feedback" placeholder="Write your message" name="msg" id="myTextarea"></textarea>
                        </div>
                    </div>

                    <div class="buttonRegister">
                        <input type="submit" value="Send" id="mySubmitButton" disabled>
                    </div>
                </form>
            </div>
            <a href="{% url 'chatbot' %}"><i class="uil uil-comments comments"></i></a>
        </div>
        <script>
            const textarea = document.getElementById("myTextarea");
            const submitButton = document.getElementById("mySubmitButton");
            
            textarea.addEventListener("input", () => {
              if (textarea.value.length === 0) {
                submitButton.disabled = true;
              } else {
                submitButton.disabled = false;
              }
            });
          </script>

        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/mainjs.js' %}"></script>
    </body>

</html>