<!DOCTYPE html>
<html lang="en">
	{% load static %}

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{% static 'css/styles.css' %}"
			type="text/css"
			media="all"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Health Plus - Registration</title>
		<link
			rel="shortcut icon"
			type="x-icon"
			href="{% static 'Images/Icon.png' %}"
		/>
	</head>

	<body>
		<header class="row">
			<a href="{% url 'welcome' %}">
				<img src="{% static 'Images/Logo.png' %}" alt="" />
			</a>
			<div></div>
			<div></div>
			<div class="dateTime">
				<div class="time"></div>
				<div class="date"></div>
			</div>
		</header>
		{% ifequal error "username_error" %}
		<script>
			alert("Username is already taken");
		</script>
		{% endifequal %} {% ifequal error "email_error" %}
		<script>
			alert("Email is already taken");
		</script>
		{% endifequal %} {% ifequal error "patient" %}
		<script>
			alert("Registered successfully");
			window.location = "{% url 'patient_dashboard' %}";
		</script>
		{% endifequal %} {% ifequal error "doctor" %}
		<script>
			alert(
				"Your information verification is pending. Please login after sometimes"
			);
			window.location = "{% url 'welcome' %}";
		</script>
		{% endifequal %}
		<div class="registrationContainer">
			<h1>Register</h1>
			<form
				action="{% url 'registration' %}"
				method="post"
				enctype="multipart/form-data"
			>
				{% csrf_token %} {% if messages %} {% for message in messages %}
				<div class="error">{{ message }}</div>
				<br />
				{% endfor %} {% endif %}

				<div class="card-details">
					<div class="card-box">
						<span class="details">First Name</span>
						<input
							type="text"
							placeholder="Enter your first name"
							name="firstName"
							id="firstName"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">Last Name</span>
						<input
							type="text"
							placeholder="Enter your last name"
							name="lastName"
							id="lastName"
							required
						/>
						<br />
					</div>
					<div class="card-box">
						<span class="details">Username</span>
						<input
							type="text"
							placeholder="Enter your username"
							name="username"
							id="username"
						/>
					</div>
					<div class="card-box">
						<span class="details">Password</span>
						<input
							type="password"
							placeholder="Enter your password"
							name="password"
							id="password"
							required
						/>
					</div>

					<div class="card-box">
						<span class="details">Email</span>
						<input
							type="email"
							placeholder="Enter your email"
							name="email"
							id="email"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">Contact</span>
						<input
							type="text"
							placeholder="Enter your phone number"
							name="contact"
							id="contact"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">DOB</span>
						<input
							type="date"
							max="2023-04-28"
							name="dateOfBirth"
							id="dateOfBirth"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">Address</span>
						<input
							type="text"
							placeholder="Enter your address"
							name="address"
							id="address"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">Photo</span>
						<input
							type="file"
							placeholder="Upload your photo"
							name="image"
							id="image"
							required
						/>
					</div>
					<div class="card-box">
						<span class="details">Specialist</span>
						<select id="category" name="category">
							<option value="None">None</option>
							<option value="Dermatologists">Dermatologists</option>
							<option value="Allergist">Allergist</option>
							<option value="Gastroenterologist">Gastroenterologist</option>
							<option value="Internist">Internist</option>
							<option value="Endocrinologist">Endocrinologist</option>
							<option value="Pulmonologist">Pulmonologist</option>
							<option value="Cardiologist">Cardiologist</option>
							<option value="Neurologist">Neurologist</option>
							<option value="Orthopedic">Orthopedic</option>
							<option value="Generalist">Generalist</option>
							<option value="Infectious Diseases Specialist">
								Infectious Diseases Specialist
							</option>
							<option value="Hepatologist">Hepatologist</option>
							<option value="Thyroidologist">Thyroidologist</option>
							<option value="Rheumatologist">Rheumatologist</option>
							<option value="Gynecologist">Gynecologist</option>
						</select>
					</div>
				</div>
				<div class="circal-form">
					<span class="circal-title">User Type</span>
					<div class="category">
						<input
							type="radio"
							name="userType"
							value="Patient"
							checked
						/>Patient
						<input type="radio" name="userType" value="Doctor" />Doctor
					</div>
				</div>

				<div class="buttonRegister">
					<input type="submit" value="Register" />
				</div>

				<h5
					style="
						margin-top: 15px;
						font-size: 14px;
						color: #ffff;
						text-align: center;
					"
				>
					Already have an account?
					<a href="{% url 'login' %}" style="color: #ffff"> Login here </a>
				</h5>
			</form>
		</div>
		<script src="{% static 'js/mainjs.js' %}"></script>
	</body>
</html>
